@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
}

.mainAgendamentos {
    background: #f5f5f5;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #15457c;
    height: 100px;
    padding: 0 100px;
}

.logo-pmvc{
    max-width: 500px;
    max-height: 80px;
}

.meusAgendamentosIndex {
    margin: 80px 0px 60px 0px;
}

/* --- title ---- */ 
.indexTextAgendamentos {
    align-items: center;
    text-align: center;
}

.titleAgendamentos {
    align-items: center;
    color: #121212;
}

.spanTextTitle {
    color: #121212;
    font-size: 1rem;
    font-weight: 400;
}


/* --- Field Content --- */ 

.fieldContentAgendamentos {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px 5px;
    border: 1px solid #dfdfdf;
}


/* ---- Field Cabeçalho ---- */ 

.input-group {
    align-items: center;
    background-color: #f5f5f5;
    border: 1px solid #dfdfdf;
    padding: 5px 5px;
    border-radius: 10px;
    height: 50px;
    margin: 0px 0px 20px 0px;
}

.input-group-text {
    height: 38px !important;
}

.searchFilter select {
    width: 180px !important;
    outline: none !important;
}

#btnpesquisar {
    background:rgb(252,214,117) !important;
    color: #63470c !important;
    transition: 0.2s ease;
}

#btnpesquisar:hover {
    transition: 0.2s ease;
    filter: drop-shadow(0px 0px 5px #1d62a770);
}

/* ---- Content field ---- */ 

.table{
    width: 100%; 
    background-color: #f5f5f5;
    border: 1px solid #dfdfdf !important;
    color: #ffffff;
    text-align: center;
    border-radius: 20px;
}


.tableContentAgendamentos {
    padding: 5px 4px;
}

.tableContentAgendamentos thead {
    margin-bottom: 100px !important;
    border-radius: 20px;
}


.tableContentAgendamentos thead tr th {
    border: none !important;
    min-width: 50px;
    align-items: center;
    color: #474747;
    background: transparent !important;
}

.tableContentAgendamentos {
    border-collapse: separate;
    border-spacing: 0 15px;
    width: 100%;
}


.tableContentAgendamentos {

}
.tableContentAgendamentos thead {
    margin-bottom: 100px !important;
    border-radius: 20px;
}

.tableContentAgendamentos thead tr th {
    border: none !important;
    min-width: 50px;;
    color: #474747;
    text-align: center;
    vertical-align: middle; /* Centraliza verticalmente */
    background: transparent !important;
    font-size: 0.85rem;

}

.tableContentAgendamentos tbody {
    filter: drop-shadow(2px 2px 1px #00000030);
}

.tableContentAgendamentos tbody td {
    border: none;
    padding: 5px; 
    align-items: center;
    min-width: 50px;
    text-align: center; /* Alinha o texto no centro horizontalmente */
    vertical-align: middle; /* Centraliza verticalmente */
    font-size: 0.85rem;
}


.tableContentAgendamentos tbody td:nth-child(1){
    border-radius: 5px 0px 0px 5px;
}

.tableContentAgendamentos tbody td:nth-child(6){
    border-radius: 0px 5px 5px 0px;
}


.tableContentAgendamentos tbody tr {
    border-bottom: 1px solid #ddd; 
}

.fieldButtonsTableAgendamentos a {
    display: inline-block; 
    text-align: center; 
    vertical-align: middle; 
    padding: 10px 5px 0px 20px; 
    color: white; 
    text-decoration: none; /
}

tbody:hover {
    background-color: #ff0000 !important; /* ou outra cor que deseje para o fundo ao passar o mouse */
}

.fieldButtonsAgendamentoFooter {
    width: 100%;
}

.fieldContentButtonsAgendamentoFooter {
    width: 100%;
    margin: 0px 3% !important;
}

.btn-gerenc-new {
    background:rgb(252,214,117) !important;
    color: #63470c !important;
    font-size: 1rem;
    padding: 5px 25px !important;
    transition: 0.3s ease !important;
}

.btn-gerenc-new:hover {
    transition: 0.3s ease !important;
    transform: scale(1.06) !important;
}

.btn-gerenc-new i {
    font-size: 1.1rem;
}

/* ------- Spacing table ---- */


.tableContentAgendamentos thead th:first-child,
.tableContentAgendamentos tbody td:first-child {
    padding-left: 40px; /* Espaço lateral para a primeira coluna */
}
.tableContentAgendamentos thead th:nth-child(2),
.tableContentAgendamentos tbody td:nth-child(2) {
    padding-left: 40px; /* Espaço lateral para a segunda coluna */
}
.tableContentAgendamentos thead th:nth-child(3),
.tableContentAgendamentos tbody td:nth-child(3) {
    padding-left: 50px; /* Espaço lateral para a segunda coluna */
}

.tableContentAgendamentos thead th:nth-child(4),
.tableContentAgendamentos tbody td:nth-child(4) {
    padding-left: 50px; /* Espaço lateral para a segunda coluna */
}

.tableContentAgendamentos thead th:nth-child(5),
.tableContentAgendamentos tbody td:nth-child(5) {
    padding-left: 50px; /* Espaço lateral para a segunda coluna */
}

.tableContentAgendamentos thead th:nth-child(6),
.tableContentAgendamentos tbody td:nth-child(6) {
    padding-left: 50px; /* Espaço lateral para a segunda coluna */
}





.pesquisa{
    background-color: #15457c;
    margin-left: 100px;
    height: 60px;
    margin-right: 100px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.icon-pesquisa{
    margin-left: 30px;
    max-height: 40px;
}

.input-pesquisa{
    height: 40px;
    border-radius: 10px;
    margin-left: 20px;
    width: 90%;
}

.tabela-agendamentos{
    margin:100px;
}


.tr-head{
    background-color: #15457c;
    font-family: 'Poppins', sans-serif;
}

