@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
 
    display: flex;
    flex-direction: column;
    background-color: white;
    
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #15457c;
    height: 100px;
    padding: 0 100px;
}

.logo-pmvc{
    max-width: 500px;
    max-height: 80px;
}

.meusAgendamentosIndex {
    margin: 80px 0px 60px 0px;
}



.p1{
    color: #A6C546;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    text-align: left;
    margin: 40px;
    margin-left: 100px;
}

.pesquisa{
    background-color: #15457c;
    margin-left: 100px;
    height: 60px;
    margin-right: 100px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.icon-pesquisa{
    margin-left: 30px;
    max-height: 40px;
}

.input-pesquisa{
    height: 40px;
    border-radius: 10px;
    margin-left: 20px;
    width: 90%;
}

.tabela-agendamentos{
    margin:100px;
}

.table{
    width: 100%; 
    background-color: #1d62a7; 
    color: #ffffff;
    text-align: center;
}

.tr-head{
    background-color: #15457c;
    font-family: 'Poppins', sans-serif;
}

