
body{
    display: flex;
    flex-direction: column;
}


.backgroundIndexOne {
    position: absolute;
    z-index: 1000;
    width: 180%;
    height: 800px;
    margin-top: -400px;
    left: -600px;
    background: linear-gradient(135deg, #b8c0ef 0%,#5271ff 21%,#24a3b1 50%, #5271ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 24% 76% 21% 79% / 50% 42% 58% 50% ;
    z-index: 0;
}

.backgroundIndexTwo {
    position: absolute;
    z-index: 1000;
    width: 50%;
    height: 600px;
    left: -200px;
    background: linear-gradient(135deg, #b8c0ef 0%,#5271ff 21%,#24a3b1 50%, #5271ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 24% 76% 21% 79% / 50% 42% 58% 50% ;
    z-index: 0;
}

.corpoServices {    
    margin-top: -100px;
    padding: 200px 0px 80px 0px;
    background: #f1f1f1;
    min-height: 150vh;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #15457c;
    height: 100px;
    padding: 0 100px;
}

.logo-pmvc{
    max-width: 500px;
    max-height: 80px;
}

.div-pesquisaServices{
    margin-top: 60px;
}

.pesquisaServices{
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
    background-color: #fff;
    height: 50px;
    margin-right: 100px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    width: 60%;
    overflow: hidden;
    align-items: center;
    border: 2px solid #cecece;
}

.iconSearchServices{
    padding: 25px;
    font-size: 1.7rem;
    cursor: pointer;
    color: #777777;
    font-weight: 600;
}

.input-pesquisaServices{
    height: 40px;
    border-radius: 0px;
    margin-left: 10px;
    min-width: 80%;
    font-size: 25px;
    border: none;
    background-color: #fff;
    align-items: center;
    outline: none;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
}

.input-pesquisaServices::placeholder{
    position: absolute;
    color: #777777;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 2px;
}

/* ---- Box Contents ---- */ 

.titleFieldServices {
    position: absolute;
    color: #fff;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.titleFieldServices h1 {
    font-size: 2.4rem;
    filter: drop-shadow(2px 2px 1px #00000040);
}


.gallery-container {
    margin: 120px 8% 0px 8% ; /* Adicionei margem para evitar que os itens encostem nas bordas da tela */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /* Modificado para auto-fit para ajuste automático */
    gap: 25px;
    filter: drop-shadow(2px 2px 1px #00000030);
}


.linkRedirectServices {
    text-decoration: none;
    transition: 0.4s ease-in;
}

.linkRedirectServices:hover {
    text-decoration: none;
    transition: 0.4s ease-in;
    transform: scale(1.04);
}

.boxContentServices {
    padding: 20px 0px 0px 0px;
    border-radius: 20px;
    height: 250px;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
}

.boxContentServices .fieldTextBoxServices{
    height: 175px;
}



.boxContentServices .fieldTextBoxServices i {
    font-size: 4rem;
    color: #00bbbf;
    margin-bottom: 20px;
}

.boxContentServices .fieldTextBoxServices p {
    margin: 0px 20px 10px 20px;
    font-weight: 600;
    color: #0d829b;
    font-size: 0.95rem;
}

.contentServicesBarOne,
.contentServicesBarTwo,
.contentServicesBarThree, 
.contentServicesBarFour,
.contentServicesBarFive {
    padding: 5px 10px 40px 20px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    font-size: 0.93rem;
    font-weight: 600;
    
}

.contentServicesBarOne {
    background-color: #1d6fba;
}

.contentServicesBarTwo {
    background-color: #d25ab2;
}

.contentServicesBarThree {
    background-color: #1eb2ea;
}

.contentServicesBarFour {
    background-color: #e4d61b;
}

.contentServicesBarFive {
    background-color: #6ee651;
}

.contentServicesBarOne p,
.contentServicesBarTwo p,
.contentServicesBarThree p,
.contentServicesBarFour p,
.contentServicesBarFive {
    color: #fff !important;
}

.iconsReference {
    display: flex !important;
}

.iconsReference i {
    color: #fff !important;
    font-size: 1rem;
    margin: 0px 1px;
}



/* Media Query para ajustar o layout em telas menores */
@media screen and (max-width: 500px) {
    .gallery-container {
        margin: 180px 8% 0px 8% ; 
        grid-template-columns: 2fr; /* Uma coluna em telas menores */
    }
}

/* --- Box Contents End ---- */ 



.rodape-text{
    color: #A6C546;
    text-align: center;
    font-family: "Poppins", sans-serif;
}