.tabelas{
    
    padding: 70px;
}

.nome_servico{
    margin: 15px;
}

.table{
    background-color: #1d62a7; 
    color: #ffffff;
    text-align: center;
}

.cabecalho_table_horarios{
    
}

.cabecalho_table_horarios_tr{
    
}

.cabecalho_table_horarios_tr_th{
    
}