@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    background: linear-gradient(160deg, #ffffff, #bdccdd);
    overflow-x: hidden;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent !important;
    height: 100px;
    padding: 0 100px;
    border-bottom: 1px solid #c7c7c7;
}

.logo-pmvc{
    max-width: 500px;
    max-height: 70px;
}

.box-img{
    position: relative;
    width: 100%;
    height: 350px;
}

.img01{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-img{
    position: absolute;
    top: 40%;
    left: 31%;
    transform: translate(-50%, -50%);
    color: #A6C546;
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    text-align:left;
}

.text-p{
    margin: 0;
}

.button-link{

}



.servicos{
    padding-top: 20px;
    margin: 40px;
    text-align: center;
}

.p1{
    font-size: 35px;
    font-family: 'Anton', sans-serif;
    color: #A6C546;
}

.img-car{
    max-height: 500px;
    max-width: 600px;
}

.rodape{
    margin-top: 40px;
    background-color: #15457c;
    height: 60px;
    padding: 20px 100px;

}

.rodape-text{
    color: #A6C546;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

/* Index ----- */ 


.corpo {
    margin-top: 80px ;
}

.text-img {
    margin-top: 70px;
}

.text-img .text-p {
    color: #15457c;
    font-size: 3rem;
}

.button-img{
    background-color: #15457c;
    color: #A6C546;
    font-size: 40px;
    border: none;
    border-radius: 15px;
    padding: 7px;
}


.imgAgenda3d {
    position: absolute;
    max-width: 500px;
    right: 100px;
    top: 30px;
}

.button-img{
    background-color: #15457c;
    color: #fff !important;
    font-size: 1.4rem;
    border: none;
    font-weight: 300 !important;
    border-radius: 15px;
    padding: 7px;
    transition: 0.3s ease;
}

.button-img:hover{
    transition: 0.3s ease;
    transform: scale(1.1);
    cursor: pointer;
}

.servicos {
    margin-top: 130px;
}

.servicos h1 {
    text-align: center;
    color:#15457c;
    font-size: 1.5rem;
    font-weight: 300;
    left: 50%;
    transform: translate(-30px);
}


.embed-responsive {
    width: 700px;
    height: 400px;
    left: 50%;
    border-radius: 20px;
    transform: translateX(-50%);
}