
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{

    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    
}

.cabecalho{

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #15457c;
    height: 100px;

    padding: 0 100px;

}

.logo-pmvc{
    max-width: 500px;
    max-height: 80px;
}


.button-login{
    background-color: #A6C546;
    color: #15457c;

    border-radius: 10px;
    
    border: none;
    outline: none;

    font-family: 'Poppins', sans-serif;;
    
    font-size: 20px;
    padding: 7px;
    cursor: pointer; 
}

.entre:hover{
    font-size: 23px;
    background-color: #b5da46;
}

.cadastro:hover{
    font-size: 23px;
    background-color: #b5da46;
}


.card-service{
    background-color: #A6C546;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 50px;

    border-radius: 20px;
}

.cabecalho-card{
    
    display: flex;
    align-items: center;
    background-color: #A6C546;

}

.cabecalho-card > img{
    max-height: 40px;
}

.categoria-name{
    margin-left: 10px;
    font-size: 20px;
}

.service-name{
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 25px;
}

.about-service{
    margin-bottom: 40px;
}

.about{
    margin-bottom: 5px;
}

.about-content{
    text-align: justify;
}

.buttons-service{
    margin-bottom: 30px;
}

.documents-title{
    margin-bottom: 5px;
}

.documents-list{
    margin-left: 20px;
}



.buttons-service > button, a > button{
    background-color: #15457c;
    color: #A6C546;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    margin-right: 25px;
    cursor: pointer;
}

.buttons-service > button:hover, .needLogin{
    background-color: #1a5497;
    font-size: 21px;
    cursor: pointer;
}

.rodape{
    margin-top: 40px;
    background-color: #15457c;

    min-height: 30px;
    padding: 20px 100px;
    text-align: center;

.rodape-text{
    color: #A6C546;
    text-align: center;
    font-family: "Poppins", sans-serif;

    text-decoration: none;
}

.rodape-text:hover{
    color:#b5da46;
    text-decoration: none;
}