@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

#navbar{
    position: fixed;
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: transparent ;
    padding: 0 11%;
    z-index: 1000;
    transition: all 0.4s ease-in-out;
    border-bottom: 1px solid #ffffff79;
}

.navbarToogle{
    transition: all 0.4s ease-in-out;
    position: fixed;
    background: #5272ffd0 !important;
    border-radius: 0px 0px 20px 20px;
    z-index: 1000;
    border: none !important;
    filter: drop-shadow(0px 0px 5px #00000040);
}

.navbarToogle .buttons a button {
    
}

.logo-pmvc{
    max-width: 250px;
    max-height: 55px;
    border-radius: 10px;
    filter: drop-shadow(1px 1px 10px #fff);
}


.button-login{
    background-color: rgba(252,214,117,1);
    color: #835f11;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 7px;
    cursor: pointer; 
    transition: 0.2s ease;
    filter: drop-shadow(1px 1px 1px #00000057)
}

.entre {
    color: #fff;
    background: transparent !important;
    z-index: 10;
}

.entre:hover{
    font-size: 1.2rem;
    background: none;
    transition: 0.2s ease;
}

.cadastro:hover{
    transition: 0.2s ease;
    transform: scale(1.1);
}


.card-service{
    background-color: #A6C546;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 50px;
    border-radius: 20px;
}

.cabecalho-card{
    
    display: flex;
    align-items: center;
    background-color: #A6C546;

}

.cabecalho-card > img{
    max-height: 40px;
}

.categoria-name{
    margin-left: 10px;
    font-size: 20px;
}

.service-name{
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 25px;
}

.about-service{
    margin-bottom: 40px;
}

.about{
    margin-bottom: 5px;
}

.about-content{
    text-align: justify;
}

.buttons-service{
    margin-bottom: 30px;
}

.documents-title{
    margin-bottom: 5px;
}

.documents-list{
    margin-left: 20px;
}

.buttons-service > button, a > button{
    background-color: #15457c;
    color: #A6C546;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    margin-right: 25px;
    cursor: pointer;
}

.buttons-service > button:hover, .needLogin{
    background-color: #1a5497;
    font-size: 21px;
    cursor: pointer;
}

.rodape{
    background: #f1f1f1;
    color: #121212;
    border-top: 2px solid #c9c9c9;
    height: 50px;
    padding: 40px 0px;
    border-radius: 10px 10px 0px 0px;
}

.rodape-text{
    color: #7e7e7e;
    font-weight: 500;
    position: absolute;
    left: 50%;
    margin-top: -20px;
    transform: translateX(-50%);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.rodape-text:hover {
    text-decoration: none;
    color: #7e7e7e;

}

.box {
    position: fixed;
    display: none;
    top: 80%;
    padding: 5px 10px;
    background-color: rgba(252,214,117,1);
    right: 70px;
    z-index: 100000;
    border-radius: 10px;
    filter: drop-shadow(1px 1px 1px #00000057);
    transition: all 0.2s ease-in;
}

.box i {
    color: #835f11;
    font-size: 1.8rem;
}

/* ------- Modal ------ */ 

.modal-content {
    top: 50% !important;
}

/* ------ Modal End ------ */


::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
  }
  
  /* Estilo para o polegar (parte que você move) */
::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #5271ff  0%,#24a3b1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 6px; /* Borda arredondada do polegar */
  }
  
  /* Estilo para a trilha (parte fixa) */
::-webkit-scrollbar-track {
    background-color: #fff; /* Cor da trilha */
}