{% extends "base.html" %}

{% block main %}
    <div class="backgroundsMain">
        <div class="backgroundIndexOne"></div>
    </div>

    <div class="corpoServices">
        <div class="div-pesquisaServices">
            <div class="pesquisaServices"> 
                <i class="bi bi-search iconSearchServices"></i>
                <input type="text" class="input-pesquisaServices" name="" id="" placeholder="Busque por nome e categoria">
            </div>
        </div>
        <div class="gallery-container ">
            <a href="{{ url_for('userservicos', servico_id=1) }}" class="linkRedirectServices">
                <div class="boxContentServices animate__animated animate__fadeInUp">
                    <i class="bi bi-bicycle"></i>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <div class="contentServicesBarRed">
                        <p>Agenda</p>
                        <div class="iconsReference">
                            <i class="bi bi-person-standing"></i>
                            <i class="bi bi-phone"></i>
                        </div>
                    </div>
                </div>
            </a>
            <a href="{{ url_for('userservicos', servico_id=1) }}" class="linkRedirectServices">
                <div class="boxContentServices animate__animated animate__fadeInUp">
                    <i class="bi bi-bicycle"></i>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <div class="contentServicesBarRed">
                        <p>Agenda</p>
                        <div class="iconsReference">
                            <i class="bi bi-person-standing"></i>
                            <i class="bi bi-phone"></i>
                        </div>
                    </div>
                </div>
            </a>
            <a href="{{ url_for('userservicos', servico_id=1) }}" class="linkRedirectServices">
            <div class="boxContentServices animate__animated animate__fadeInUp">
                <i class="bi bi-bicycle"></i>
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <div class="contentServicesBarBlue">
                    <p>Agenda</p>
                    <div class="iconsReference">
                        <i class="bi bi-person-standing"></i>
                        <i class="bi bi-laptop"></i>
                    </div>
                </div>
            </div>
            </a>
            <a href="{{ url_for('userservicos', servico_id=1) }}" class="linkRedirectServices">
            <div class="boxContentServices animate__animated animate__fadeInUp">
                <i class="bi bi-bicycle"></i>
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <div class="contentServicesBarBlue">
                    <p>Agenda</p>
                    <div class="iconsReference">
                        <i class="bi bi-person-standing"></i>
                    </div>
                </div>
            </div>
            </a>
            <a href="{{ url_for('userservicos', servico_id=1) }}" class="linkRedirectServices">
            <div class="boxContentServices animate__animated animate__fadeInUp">
                <i class="bi bi-bicycle"></i>
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <div class="contentServicesBarBlue">
                    <p>Agenda</p>
                    <div class="iconsReference">
                        <i class="bi bi-person-standing"></i>
                        <i class="bi bi-phone"></i>
                        <i class="bi bi-laptop"></i>
                    </div>
                </div>
            </div>
            </a>
            <a href="{{ url_for('userservicos', servico_id=1) }}" class="linkRedirectServices">
                <div class="boxContentServices animate__animated animate__fadeInUp">
                    <i class="bi bi-bicycle"></i>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <div class="contentServicesBarBlue">
                        <p>Agenda</p>
                        <div class="iconsReference">
                            <i class="bi bi-person-standing"></i>
                            <i class="bi bi-phone"></i>
                            <i class="bi bi-laptop"></i>
                        </div>
                    </div>
                </div>
            </a>
            <a href="{{ url_for('userservicos', servico_id=1) }}" class="linkRedirectServices">
                <div class="boxContentServices animate__animated animate__fadeInUp">
                    <i class="bi bi-bicycle"></i>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <div class="contentServicesBarYellow">
                        <p>Agenda</p>
                        <div class="iconsReference">
                            <i class="bi bi-person-standing"></i>
                            <i class="bi bi-phone"></i>
                            <i class="bi bi-laptop"></i>
                        </div>
                    </div>
                </div>
            </a>
            <a href="{{ url_for('userservicos', servico_id=1) }}" class="linkRedirectServices">
                <div class="boxContentServices animate__animated animate__fadeInUp">
                    <i class="bi bi-bicycle"></i>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <div class="contentServicesBarYellow">
                        <p>Agenda</p>
                        <div class="iconsReference">
                            <i class="bi bi-person-standing"></i>
                            <i class="bi bi-phone"></i>
                            <i class="bi bi-laptop"></i>
                        </div>
                    </div>
                </div>
            </a>
            <a href="{{ url_for('userservicos', servico_id=1) }}" class="linkRedirectServices">
                <div class="boxContentServices animate__animated animate__fadeInUp">
                    <i class="bi bi-bicycle"></i>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <div class="contentServicesBarYellow">
                        <p>Agenda</p>
                        <div class="iconsReference">
                            <i class="bi bi-person-standing"></i>
                            <i class="bi bi-phone"></i>
                            <i class="bi bi-laptop"></i>
                        </div>
                    </div>
                </div>
            </a>
            <a href="{{ url_for('userservicos', servico_id=1) }}" class="linkRedirectServices">
                <div class="boxContentServices animate__animated animate__fadeInUp">
                    <i class="bi bi-bicycle"></i>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <div class="contentServicesBarYellow">
                        <p>Agenda</p>
                        <div class="iconsReference">
                            <i class="bi bi-person-standing"></i>
                            <i class="bi bi-phone"></i>
                            <i class="bi bi-laptop"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}