{% extends "base.html" %}

{% block main %}

    <div class="backgroundsMain">
        <div class="backgroundIndexOne"></div>
    </div>

    <div class="corpoServices">
        <div class="titleFieldServices">
            <h1> Serviços </h1>
        </div>
        <div class="gallery-container ">
            <a href="{{ url_for('userservicos', servico_id=1) }}" class="linkRedirectServices">
                <div class="boxContentServices animate__animated animate__fadeInUp">
                    <div class="fieldTextBoxServices">
                        <i class='bx bx-plus-medical'></i>
                        <p> {{ servico1.sobre }} </p>
                    </div>
                    
                    <div class="contentServicesBarOne">
                        <p> {{ servico1.nome }} </p>
                        <div class="iconsReference">
                            
                        </div>
                    </div>
                </div>
            </a>
            <a href="{{ url_for('userservicos', servico_id=2) }}" class="linkRedirectServices">
                <div class="boxContentServices animate__animated animate__fadeInUp">
                    <div class="fieldTextBoxServices"> 
                        <i class='bx bx-receipt'></i>
                        <p> {{ servico2.sobre }} </p>
                    </div>
                    
                    <div class="contentServicesBarTwo">
                        <p> {{ servico2.nome }} </p>
                        <div class="iconsReference">
                            
                        </div>
                    </div>
                </div>
            </a>
            <a href="{{ url_for('userservicos', servico_id=3) }}" class="linkRedirectServices">
            <div class="boxContentServices animate__animated animate__fadeInUp">
                <div class="fieldTextBoxServices">
                    <i class='bx bxs-user-check'></i>
                    <p> {{ servico3.sobre }} </p>
                </div>
                
                <div class="contentServicesBarThree">
                    <p> {{ servico3.nome }} </p>
                    <div class="iconsReference">
                       
                    </div>
                </div>
            </div>
            </a>
            <a href="{{ url_for('userservicos', servico_id=4) }}" class="linkRedirectServices">
            <div class="boxContentServices animate__animated animate__fadeInUp">
                <div class="fieldTextBoxServices">
                    <i class='bx bxs-user-account'></i> 
                    <p> {{ servico4.sobre }} </p>
                </div>
                
                <div class="contentServicesBarFour">
                    <p> {{ servico4.nome }} </p>
                    <div class="iconsReference">
                       
                    </div>
                </div>
            </div>
            </a>
            <a href="{{ url_for('userservicos', servico_id=5) }}" class="linkRedirectServices">
                <div class="boxContentServices animate__animated animate__fadeInUp">
                    <div class="fieldTextBoxServices">
                        <i class='bx bxs-user-account'></i> 
                        <p> {{ servico5.sobre }} </p>
                    </div>
                    
                    <div class="contentServicesBarFive">
                        <p> {{ servico5.nome }} </p>
                        <div class="iconsReference">
                           
                        </div>
                    </div>
                </div>
                </a>
            
        </div>
        
    </div>
{% endblock %}