<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Adicione os links para os estilos CSS, se necessário -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastroUser.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

</head>
<body>
    <div class="div-main">
        <div class="div-icons">
            <a href="/"><img src="../static/assets/images/logo-pmvc-verde.png" class="logo-img" alt="logo-pmvc-verde"></a>
            <img src="{{ url_for('static', filename='assets/icons/user.png') }}"  alt="" class="icon-user">
        </div>
        <div class="div-login">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h2 class="login-name">CADASTRAR</h2>
            <form method="POST" action="{{ url_for('cadastrar') }}" class="form-login">
                {{ form_cadastrouser.hidden_tag() }}

                {{ form_cadastrouser.email.label }} {{ form_cadastrouser.email(id="username", class="input-email", placeholder="Digite seu email") }} <br>
                {{ form_cadastrouser.nome.label }} {{ form_cadastrouser.nome(id="nome", class="input-nome", placeholder="Digite seu nome") }} <br>
                {{ form_cadastrouser.cpf.label }} {{ form_cadastrouser.cpf(id="cpf", class="input-cpf", placeholder="Digite seu CPF") }} <br>
                {{ form_cadastrouser.sus.label }} {{ form_cadastrouser.sus(id="sus", class="input-sus", placeholder="Digite o número do seu cartão do SUS") }} <br>

                {{ form_cadastrouser.senha.label }} {{ form_cadastrouser.senha(id="password", class="input-senha", placeholder="Digite sua senha") }} <br>
                    {% if form_cadastrouser.senha.errors %}
                        <p style="color: red;">{{ form_cadastrouser.senha.errors[0] }}</p>
                    {% endif %}
                {{ form_cadastrouser.confirmar_senha.label }} {{ form_cadastrouser.confirmar_senha(id="confirmar_senha", class="input-senha", placeholder="Digite sua senha") }} <br>
                    {% if form_cadastrouser.confirmar_senha.errors %}
                        <p style="color: red;">{{ form_cadastrouser.confirmar_senha.errors[0] }}</p>
                    {% endif %}
                {{ form_cadastrouser.submit(class="button-login") }}
            </form>
        </div>
    </div> 
</body>
    <script>
        $(document).ready(function(){
            $('#cpf').mask('000.000.000-00');
        });
    </script>
    <script>
        $(document).ready(function(){
            $('#sus').mask('000.000.000.0000-00');
        });
    </script>
</html>
