{% extends "base.html" %}

{% block main %}

        <div class="corpo">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-{{ category }} flashMessage animate__animated animate__bounceInLeft">
                        <i class="bi bi-exclamation-circle-fill"></i>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
            <div class="box-img">
                <div class=" text-img">
                    <p class="text-p animate__animated animate__fadeInLeft"> <span> AGENDE </span> SEUS SERVIÇOS </br> SEM PERDER TEMPO</p>
                    <a href="{{url_for('allservices')}}">
                       <p class="text-index-button animate__animated animate__fadeInLeft"> Mostrar serviços disponíveis</p> 
                    </a>
                </div>
                <img src="../static/assets/images/Calendário 3d.png" alt="" class="imgAgenda3d animate__animated animate__fadeInRight">
            </div>
            <div class="aboutIndex">
                <div class="cardTextIndex textOne">
                    <h2>O que é o SMS AGENDA?</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <img src="../static/assets/images/Vetores/medical-prescription.png" alt="">
                </div>
                <div class="cardTextIndex textTwo">
                    <h2>O que é o SMS AGENDA?</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
                <div class="cardTextIndex textThree">
                    <h2>O que é o SMS AGENDA?</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
            </div>
            <div class="servicos">
                <h1 class="p1">Veja como você pode agendar seus serviços facilmente</h1>
                <div class="embed-responsive embed-responsive-1by1">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=qyYmS_iBcy4" allowfullscreen></iframe>
                </div>
                    
            </div>
        </div>

        
        </div>


{% endblock %}

{% block javascript %}
<script src="../static/js/flashMessage.js"></script>
<script>
    /* --- Função que retira o flash após 5 segundos --- */ 
    setTimeout(function() {
        var setFunction = document.querySelector(".flashMessage");
        setFunction.style.display = 'none'
    }, 5000)
</script>


{% endblock %}
