<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="container-login">
        <div class="img-box">
            <img src="../static/assets/images/Brasão_Vitoria_da_Conquista.png">
        </div>
        <div class="div-login">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        <div class="content-box">
            <div class="form-box">
                <h2>Entrar</h2>
                <form>

                    {{ form_login.hidden_tag() }}
                    <!-- <input type="hidden" name="proxima" value="{{ proxima or url_for('areaServidor') }}"> -->

                    <div class="input-box">
                        <span>E-mail</span>
                         <!-- {{ form_login.email.label }} -->
                        {{ form_login.email(id="username", class="input-email", placeholder="Digite seu email") }} <br>

                    </div>

                    <div class="input-box">
                        <span>Password</span>
                          <!-- {{ form_login.senha.label }} -->
                        {{ form_login.senha(id="password", class="input-senha", placeholder="Digite sua senha") }} <br>
                    </div>

                    <div class="remember">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                        <a href="#">Esqueceu a Senha?</a>
                    </div>

                    <div class="input-box">
                        <input type="submit" value="Entrar">
                    </div>

                    <div class="input-box">
                       <p>Não Tem Uma Conta? <a href="#">Inscrever-se</a></p>
                    </div>
                </form>
                <div class="cookie-policy">
                    <p>Ao Continuar, você aceita o Contrato do Usuário, a Política de Privacidade e a Política de Cookies.</p>
                </div>  
            </div>
        </div>
    </div>
</body>
</html>