{% extends "base.html" %}

{% block main %}
    <div class="background-main animate__animated animate__fadeInRight" style="animation-delay: 1500ms;">
        <i class="bi bi-hospital"></i>
    </div>
    <div>
        <div class="card-service">
            <div class="cabecalho-card">
                <p><i class="bi bi-hospital"></i></p>
                <div class="categoria-name">
                    <p> {{ info_servico.categoria }} </p>
                </div>
            </div>
            <div class="service-name">
                <p> {{ info_servico.nome }} </p>
            </div>
            <div class="buttons-service"> 
                {% if not session.usuario_logado%}
                    <a class="needLogin" href="{{ url_for('login') }}"><button class="needLogin needLoginButton">
                        <i class="bi bi-person icon-button-user"></i> 
                        LOGIN É NECESSÁRIO </button></a>
                {% else %}
                    <button id="open-popup"> AGENDAR </button>
                <!--<button> SOLICITAR </button>-->
                {% endif %}
            </div>
            <div class="service-details">
                <div class="about-service">
                    <h4 class="about"> SOBRE</h4>
                    <p class="about-content">
                        {{ info_servico.descricao }}
                    </p>
                </div>
                <div class="documents-service">
                    <h4 class="documents-title"> DOCUMENTOS NECESSÁRIOS </h4>
                    <ul class="documents-list">
                        {% for documentos in info_servico.documentos %}
                            <li> 
                                <i class="bi bi-file-person"></i>
                                {{ documentos }} 
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        
        {% include "popupAgendamento.html" %}
        
                
        

        <script src="../static/js/pop-up-agendar.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        
    </div>
    {% endblock %}